{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "9",
          "safari": "8"
        },
        "useBuiltIns": false
      }
    ]
  ],
  "exclude": ["node_modules/**"]
}
